body {
  font-family: sans-serif;
}

nav {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background-image: linear-gradient(to right, #90ee90, #006400);
  padding: 0 !important;
}

.navbar-brand img {
  height: 95px;
  padding-left: 20px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: #ffff !important;
  font-weight: 600;
  float: right;
  text-align: left;
}

.fa-bars {
  color: #fff;
  font-size: 30px !important;
}

/*-------- Banner Section ------------*/

#banner {
  background-image: linear-gradient(to right, #90ee90, #006400);
  color: #fff;
  padding-top: 5%;
}
.koala-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
}
.play-btn {
  width: 40px;
  margin: 20px;
}

#banner {
  color: white;
  text-decoration: none;
}

.img-fluid {
  border-radius: 75%;
}

.bottom-img {
  width: 100%;
}

.rescue-img {
  border-radius: 50%;
  width: 250px;
  margin-top: 20px;
  margin-right: 10px;
}

.donate-img {
  border-radius: 30%;
  width: 250px;
  margin-top: 20px;
  margin-right: 10px;
}
.sad-img {
  border-radius: 50%;
  width: 250px;
  height: 260px;
  margin-top: 20px;
  margin-right: 10px;
}

#services {
  padding: 80px 0;
}

.services {
    padding: 20px
}

h4 {
    font-weight: 600;
}